USE [master]
GO
/****** Object:  Database [MHacienda]    Script Date: 01/10/2017 01:36:56 p.m. ******/
CREATE DATABASE [MHacienda]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MHacienda', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\MHacienda.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MHacienda_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\MHacienda_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MHacienda].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MHacienda]
GO
/****** Object:  Table [dbo].[Cargos]    Script Date: 01/10/2017 01:36:57 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cargos](
	[CodCargos] [int] IDENTITY(1,1) NOT NULL,
	[Cargo] [varchar](15) NOT NULL,
 CONSTRAINT [PK_Cargos] PRIMARY KEY CLUSTERED 
(
	[CodCargos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Documento]    Script Date: 01/10/2017 01:36:57 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Documento](
	[Codigo] [varchar](20) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Hora] [time](7) NOT NULL,
	[Destinatario] [varchar](5) NOT NULL,
	[Remitente] [varchar](5) NOT NULL,
	[CodigoT] [int] IDENTITY(1,1) NOT NULL,
	[Estado] [varchar](15) NOT NULL,
	[Copia] [bit] NOT NULL,
 CONSTRAINT [PK_Documento] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Oficinas]    Script Date: 01/10/2017 01:36:57 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Oficinas](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](25) NOT NULL,
	[Ubicacion] [varchar](200) NOT NULL,
 CONSTRAINT [PK_Oficinas] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Trámite]    Script Date: 01/10/2017 01:36:57 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Trámite](
	[CodigoT] [int] NOT NULL,
	[Nombre] [varchar](40) NOT NULL,
 CONSTRAINT [PK_Trámite] PRIMARY KEY CLUSTERED 
(
	[CodigoT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 01/10/2017 01:36:57 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Codigo] [varchar](5) NOT NULL,
	[Nombre] [varchar](25) NOT NULL,
	[Apellido] [varchar](25) NOT NULL,
	[DUI] [varchar](10) NOT NULL,
	[NIT] [varchar](18) NOT NULL,
	[Telefono] [varchar](10) NOT NULL,
	[Oficina] [int] NOT NULL,
	[CodCargo] [int] NOT NULL,
	[Contraseña] [varchar](4) NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Cargos] ON 

INSERT [dbo].[Cargos] ([CodCargos], [Cargo]) VALUES (1, N'Director')
INSERT [dbo].[Cargos] ([CodCargos], [Cargo]) VALUES (2, N'Jefe de distrit')
INSERT [dbo].[Cargos] ([CodCargos], [Cargo]) VALUES (3, N'Jefe de departa')
SET IDENTITY_INSERT [dbo].[Cargos] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [destinatario]    Script Date: 01/10/2017 01:36:57 p.m. ******/
CREATE NONCLUSTERED INDEX [destinatario] ON [dbo].[Documento]
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [remitente]    Script Date: 01/10/2017 01:36:57 p.m. ******/
CREATE NONCLUSTERED INDEX [remitente] ON [dbo].[Documento]
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [tramite]    Script Date: 01/10/2017 01:36:57 p.m. ******/
CREATE NONCLUSTERED INDEX [tramite] ON [dbo].[Documento]
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [Cargo]    Script Date: 01/10/2017 01:36:57 p.m. ******/
CREATE NONCLUSTERED INDEX [Cargo] ON [dbo].[Usuarios]
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [oficina]    Script Date: 01/10/2017 01:36:57 p.m. ******/
CREATE NONCLUSTERED INDEX [oficina] ON [dbo].[Usuarios]
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Documento]  WITH CHECK ADD  CONSTRAINT [rela_destinatario] FOREIGN KEY([Destinatario])
REFERENCES [dbo].[Usuarios] ([Codigo])
GO
ALTER TABLE [dbo].[Documento] CHECK CONSTRAINT [rela_destinatario]
GO
ALTER TABLE [dbo].[Documento]  WITH CHECK ADD  CONSTRAINT [rela_remitente] FOREIGN KEY([Remitente])
REFERENCES [dbo].[Usuarios] ([Codigo])
GO
ALTER TABLE [dbo].[Documento] CHECK CONSTRAINT [rela_remitente]
GO
ALTER TABLE [dbo].[Documento]  WITH CHECK ADD  CONSTRAINT [rela_tramite] FOREIGN KEY([CodigoT])
REFERENCES [dbo].[Trámite] ([CodigoT])
GO
ALTER TABLE [dbo].[Documento] CHECK CONSTRAINT [rela_tramite]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [rela_cargo] FOREIGN KEY([CodCargo])
REFERENCES [dbo].[Cargos] ([CodCargos])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [rela_cargo]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [rela_oficina] FOREIGN KEY([Oficina])
REFERENCES [dbo].[Oficinas] ([Codigo])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [rela_oficina]
GO
USE [master]
GO
