USE [master]
GO
/****** Object:  Database [MHacienda]    Script Date: 21/10/2017 03:58:39 p.m. ******/
CREATE DATABASE [MHacienda]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MHacienda', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\MHacienda.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MHacienda_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\MHacienda_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MHacienda].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MHacienda]
GO
/****** Object:  Table [dbo].[Copia]    Script Date: 21/10/2017 03:58:40 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Copia](
	[CodCopia] [int] NOT NULL,
	[Remitente] [char](5) NOT NULL,
	[Destinatario] [char](5) NOT NULL,
	[CodigoDoc] [varchar](20) NOT NULL,
	[Hora] [time](7) NOT NULL,
	[Fecha] [date] NOT NULL,
 CONSTRAINT [PK_Copia_1] PRIMARY KEY CLUSTERED 
(
	[CodCopia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Documento]    Script Date: 21/10/2017 03:58:40 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Documento](
	[CodigoDoc] [varchar](20) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Hora] [time](7) NOT NULL,
	[Destinatario] [varchar](5) NOT NULL,
	[Remitente] [varchar](5) NOT NULL,
	[CodigoT] [int] IDENTITY(1,1) NOT NULL,
	[Estado] [varchar](15) NOT NULL,
	[CodTDoc] [int] NOT NULL,
 CONSTRAINT [PK_Documento] PRIMARY KEY CLUSTERED 
(
	[CodigoDoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Oficinas]    Script Date: 21/10/2017 03:58:40 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Oficinas](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](25) NOT NULL,
	[Ubicacion] [varchar](200) NOT NULL,
 CONSTRAINT [PK_Oficinas] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TipoDoc]    Script Date: 21/10/2017 03:58:40 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TipoDoc](
	[CodTDoc] [int] IDENTITY(1,1) NOT NULL,
	[Tipo_Documento] [varchar](30) NOT NULL,
 CONSTRAINT [PK_TipoDoc] PRIMARY KEY CLUSTERED 
(
	[CodTDoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tramite]    Script Date: 21/10/2017 03:58:40 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tramite](
	[CodigoT] [int] NOT NULL,
	[Nombre] [varchar](40) NOT NULL,
 CONSTRAINT [PK_Trámite] PRIMARY KEY CLUSTERED 
(
	[CodigoT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 21/10/2017 03:58:40 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Codigo] [varchar](5) NOT NULL,
	[Nombre] [varchar](25) NOT NULL,
	[Apellido] [varchar](25) NOT NULL,
	[DUI] [varchar](10) NOT NULL,
	[NIT] [varchar](18) NOT NULL,
	[Telefono] [varchar](10) NOT NULL,
	[Cod_oficina] [int] NOT NULL,
	[CodCargos] [int] NOT NULL,
	[Contrasena] [varchar](6) NOT NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [destinatario]    Script Date: 21/10/2017 03:58:40 p.m. ******/
CREATE NONCLUSTERED INDEX [destinatario] ON [dbo].[Documento]
(
	[CodigoDoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [remitente]    Script Date: 21/10/2017 03:58:40 p.m. ******/
CREATE NONCLUSTERED INDEX [remitente] ON [dbo].[Documento]
(
	[CodigoDoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [tipo_documento]    Script Date: 21/10/2017 03:58:40 p.m. ******/
CREATE NONCLUSTERED INDEX [tipo_documento] ON [dbo].[Documento]
(
	[CodigoDoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [tramite]    Script Date: 21/10/2017 03:58:40 p.m. ******/
CREATE NONCLUSTERED INDEX [tramite] ON [dbo].[Documento]
(
	[CodigoDoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [Cargo]    Script Date: 21/10/2017 03:58:40 p.m. ******/
CREATE NONCLUSTERED INDEX [Cargo] ON [dbo].[Usuarios]
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [oficina]    Script Date: 21/10/2017 03:58:40 p.m. ******/
CREATE NONCLUSTERED INDEX [oficina] ON [dbo].[Usuarios]
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Copia]  WITH CHECK ADD  CONSTRAINT [rela_docCopia] FOREIGN KEY([CodigoDoc])
REFERENCES [dbo].[Documento] ([CodigoDoc])
GO
ALTER TABLE [dbo].[Copia] CHECK CONSTRAINT [rela_docCopia]
GO
ALTER TABLE [dbo].[Documento]  WITH CHECK ADD  CONSTRAINT [rela_destinatario] FOREIGN KEY([CodTDoc])
REFERENCES [dbo].[TipoDoc] ([CodTDoc])
GO
ALTER TABLE [dbo].[Documento] CHECK CONSTRAINT [rela_destinatario]
GO
ALTER TABLE [dbo].[Documento]  WITH CHECK ADD  CONSTRAINT [rela_remitente] FOREIGN KEY([Remitente])
REFERENCES [dbo].[Usuarios] ([Codigo])
GO
ALTER TABLE [dbo].[Documento] CHECK CONSTRAINT [rela_remitente]
GO
ALTER TABLE [dbo].[Documento]  WITH CHECK ADD  CONSTRAINT [rela_tramite] FOREIGN KEY([CodigoT])
REFERENCES [dbo].[Tramite] ([CodigoT])
GO
ALTER TABLE [dbo].[Documento] CHECK CONSTRAINT [rela_tramite]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [rela_oficina] FOREIGN KEY([Cod_oficina])
REFERENCES [dbo].[Oficinas] ([Codigo])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [rela_oficina]
GO
USE [master]
GO
USE MHacienda
INSERT INTO Oficinas VALUES('Informática','Edificio 2, Nivel 3, Ala C')
INSERT INTO Usuarios VALUES('EMP01','Diego','Trigueros','12345678-9','0101-010101-101-1','75640879','1','Admnistrador','Diego','1')